* {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/paulina-ponce-P4z15DCQ8-I-unsplash\ \(1\).jpg");
}


#container {
  margin: 25vh 0vh;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: normal;
font-size: 10vw;
  text-align: center;
  color: #ffe9fe;
  text-shadow: 4px 4px 4px #59313e;
  padding:5%;
  background-color: rgb(255, 213, 227, 0.8);

}